@import "./src/scss/variables";
@import "./src/scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  margin-bottom: 16px;
  text-align: center;
}

.wrap {
  width: 100%;
  max-width: 600px;
}

.mb16 {
  margin-bottom: 16px;
}

.tooltip {
  position: absolute;
  right: 16px;
  top: 16px;
}