@import "./src/scss/variables";
@import "./src/scss/mixins";

.wrap {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #0b1f35;
    transition: height 0.3s;
  }

  &.active {
    &::before {
      height: 2px;
      transition: height 0.3s;
    }
  }

  &.error {
    &::before {
      background-color: rgb(239, 49, 36);
    }
  }
}

.input {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0;
  padding: 0 12px;
  width: 100%;
  height: 100%;
  appearance: none;
  outline: none;
  border: none;
  font-size: 14px;
  text-overflow: ellipsis;
  color: #0b1f35;
  background-color: #0b1f3512;
}

.textError {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d91d0b;
}

.xs {
  min-height: $xs-height;
}

.sm {
  min-height: $sm-height;
}

.md {
  min-height: $md-height;
}
