@import "./src/scss/variables";
@import "./src/scss/mixins";

.form {
  margin-bottom: 24px;
  width: 100%;

  > div {
    width: 100%;
  }
}

.title {
  margin-bottom: 16px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  @include media($md) {
    margin: 0;
  }

  > li {
    margin: 0 16px 32px;
    width: calc(100% / 3 - 32px);

    @include media($lg) {
      width: calc(100% / 2 - 32px);
    }

    @include media($md) {
      margin: 0 0 32px;
      width: 100%;
    }
  }
}