@import "./src/scss/variables";
@import "./src/scss/mixins";

.checkbox {
  cursor: pointer;

  &__input:checked + .checkbox__text::after {
    opacity: 1;
  }

  &__input {
    @include visually-hidden;
  }

  &__text {
    position: relative;
    padding-left: 22px;
    font-size: 16px;
    user-select: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      transition: opacity 0.5s;
    }

    &::before {
      z-index: 1;
      border: 1px solid #6d7986;
      background-color: #fff;
      transition: background-color 0.3s;
    }

    &::after {
      z-index: 2;
      opacity: 0;
      background-image: url("/images/check.svg");
      background-position: center;
      background-size: 12px 9px;
      background-repeat: no-repeat;
      background-color: #ef3124;
    }

    &:hover {
      &::before {
        background-color: #b6bcc3;
      }
    }
  }
}